.ftpconfig
Thumbs.db
*.7z
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.sln.docstates
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.pyc
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
node_modules*/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
*.vssscc
$tf*/
*.png
*.jpg
package-lock.json
routes/0000kidevalTEST/*
public/jquery-ui-dist/*
public/javascripts/jquery*
public/javascripts/bootstrap*
public/stylesheets/bootstrap*
public/javascripts/carouse*
public/stylesheets/carouse*
public/acme-challenge/*
public/doc/*
public/static/
public/fonts/*
public/images/*
public/ckeditor/*
public/@zxing/*
public/countdown/*.mp3
public/barcode/*
public/ts-custom-error/*
TodoApi/
childproc/xml/
sslcert/*
flask/env/*
flask/_pycache_/*
flask/Pipfile
*.pyc
*.*~
html201*.txt
html201*.txt
tdmhtml*.txt
public/qr/*
UserCache.dat
tools/xml/*
tools/config.js
.ftpauth
deploy22.js
deploy*.js
deploy*.bat
erverappinventor.buildserverappinventor.buildserverappinventor.buildserver
childproc/a.txt
childproc/eml/
childproc/gsuite_g*.*
childproc/test*.*
childproc/temp.txt
childproc/smtp*.py
childproc/m*.*
childproc/parse*.*
tools/tbl2.js
config.js
public/css/
public/js/


